* {
  font-family: Arial;
  background-color: #B0C0CF;
  font-size: 1em;
}

p.info1 {
  background-color: #B0C0CF;
  border-style: solid;
  border-radius: 3px;
  border-width: 5px;
  border-color: #7090A0;
  padding: 5px;
}

ul {
  background-color: #B0C0CF;
  border-style: solid;
  border-radius: 3px;
  border-width: 5px;
  border-color: #7090A0;
}

ol {
  background-color: #B0C0CF;
  border-style: solid;
  border-radius: 3px;
  border-width: 5px;
  border-color: #7090A0;
}

h1.basicH1 {
  border-style: inset;
  border-radius: 3px;
  border-width: 3px;
  border-color: #5F6F6F;
  margin-left: auto;
  margin-right: auto;
  background-color: #7090A0;
  width: 15em;
  height: 3em;
  text-align: center;
}

div.main {
  margin-left: 7em;
  margin-right: 7em;
}

span.spanBold {
  font-weight: bold;
  text-align: center;
}

table.ref {
  font-size: 0.9em;
  background-color: #B0C0CF;
  border-style: solid;
  border-radius: 3px;
  border-width: 5px;
  border-color: #7090A0;
}

td.ref {
  font-size: 1em;
  background-color: #B0C0CF;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #7090A0;
}
